# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
venv/
env/
ENV/

# Database & Uploads
*.db
*.sqlite
*.sqlite3
uploads/*
!uploads/.gitkeep

# Pytest / Cache
.pytest_cache/
.coverage
htmlcov/

# Local Environment variables
.env
!.env.example
